@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

html, body, form, fieldset, table, tr, td, img {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
}
h2{
  
  font-size: 2.2em;
}
h6{
  font-size: 1.25em;
  line-height: 1.4;
}
p{
  font-size: 1.15em;
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}


* {
    box-sizing: border-box;
    color: var(--clr-dark);
}
  :root {
    --clr-light: #66bfff;
    --clr-dark: #324c5d;
    --clr-white: #f8f9fa;
    --clr-btnHov: #486274;
    /* RGB: 248, 249, 250 */
  }
  body{
    background: rgb(102,191,255);
    background: linear-gradient(90deg, rgba(219,243,247,0.33657212885154064) 0%, var(--clr-dark) 100%);
    position: absolute;
    background-attachment: fixed;
  }

  html{
    scroll-behavior: smooth;
  }
 
  /* Adjusting all the elements in order to make the anchors scroll to where we want */
  /* See here for details: https://css-tricks.com/hash-tag-links-padding/ */
  .anchor{
    top: -88.88px;
    /* padding-bottom: 88.88px; */
    display: block;
    position: relative;
    z-index: -1;
  }
  #introInfoAnchor{
    margin-top: -310px;
    padding-bottom: 310px;
  }

  hr{
    width: 30%;
    margin: 0 auto;
    color: var(--clr-dark)
  }

  /* to 'help' the Bootstrap modals: */
  .modal-backdrop{
    width: 100%;
    height: 100%;
  }

  /* Navbar */
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 5px var(--clr-dark);
  }
  .navbar-nav{
    width: 100%;
    justify-content: space-between;
  }
  .navbar-brand > img {
    width: 175px;
  }
  .bg-light {
    background-color: var(--clr-white) !important;
  }
  a.nav-link {
    color: var(--clr-dark) !important;
    font-size: 15px;
    transition: background-color 0.3s;
  }
  a.nav-link:hover {
    background-color: var(--clr-light);
  }
  
  /* Sections*/
  section {
    text-align: left;
    position: relative;
    margin-bottom: 50px;
  }
  @media only screen and (max-width: 900px) {
    section {
      padding: 20px 2.5%;
      margin-bottom: 0;
    }
  }
  
  /* To cover the image to give fade effect */
  .whiteFadeCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
  }

  section .accordion-body {
    text-align: left;
  }

    /* All Buttons */
.learnMoreBtn{
  margin-top: 25px;
  /* margin: 0 auto 0 auto; */
  border: none;
  border-radius: 30px;
  color: var(--clr-white);
  background-color: var(--clr-dark);
  max-width: 200px;
  min-height: 50px;
  padding: 5px 15px;
  font-size: 25px;
  transition: background-color 0.3s;
}
.learnMoreBtn:hover{
  background-color: var(--clr-btnHov);
}


.hideBtn{
  border: none;
  border-radius: 30px;
  color: var(--clr-white);
  background-color: var(--clr-dark);
  font-size: 1.15em;
  width: 150px;
  height: 50px;
  padding: 5px 15px;
  display: block;
  margin: auto auto;
  position: sticky;
  top: 68px;
  bottom: 10px;
  margin-right: 2%;
}
.hideBtn:hover{
  background-color: var(--clr-btnHov);
}
/* Link Styling */
.link{
  color: var(--clr-dark);
  text-decoration: none;
}
.link:hover{
  color: var(--clr-dark);
  text-decoration: underline;
}

  /* Intro Section */
section#intro{
    margin-top: 0;
    padding: 50px 20% 50px 10%;
    display: flex;
    height: 100vh;
  
    background: url(./lomdei_pic_1.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: left;
  }
  #title{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #title img#logo{
    min-width: 300px;
    max-width: 400px;
    object-fit: fill;
  }
  #brochure{
    margin-top: 10px;
   }
  @media only screen and (max-width: 900px){
    #intro button{
      font-size: 18px;
    }
  }

  /* Subsequent Sections */
  .text-right{
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
  }
  .text-left{
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  @media only screen and (max-width: 900px) {
    .text-right,
    .text-left{
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .picture{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    height: 300px;
  }
  .text{
    min-height: 400px;
    padding: 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  @media only screen and (max-width: 900px){
    .picture{
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .text{
      padding: 0;
      /* margin-top: 20px; */
      margin: 0 5% 10px 5%;
      justify-content: center;
      min-height: 200px;
    }
  }
  .picture img{
    width: 450px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 5px var(--clr-dark);
  }
  @media only screen and (max-width: 900px){
    .picture img{
      width:90%;
    }
  }
  .learnMoreTxt{
      background-color: var(--clr-white);
      position: relative;
      margin: 10px 0px;
      box-shadow: 
        inset 0 11px 8px -10px var(--clr-dark),
        inset 0 -11px 8px -10px var(--clr-dark);
      display: flex;
  }
  @media only screen and (max-width: 900px){
    .learnMoreBtn:hover{
      padding: 2% 5%;
    }
  }
  .learnMoreInner{
    width: 60%;
    margin: 0 auto;
    padding: 5% 
  }
  .learnMoreTxt div:last-of-type{
    display: flex;
    align-items: center;
  }
  /* Hidden Text */
.hiddenTxt{
  display: none;
}
/* Info Section */
div#infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
}
div.info{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.infoBox{
    margin-bottom: 2.5%;
    width: 100% !important;
}
@media only screen and (max-width: 700px) {
    div#infoContainer   {
        flex-direction: column;
        align-items: center;
    }
    div.info{
        width: 95%
    }
}

div.infoBox>div{
    width: 100%
}

button.infoTitle{
    border: none;
    width: 100%;
}
div.collapse{
    width: 100%
}

/* Examples Section */
section#examples{
  text-align: center;
  margin-top: 150px;
}
@media only screen and (max-width:900px){
  #examples{
    margin-top: 50px;
  }
}
#bplExamplesAnchor{
  margin-top: -78px;
}
#examples h2{
  margin-bottom: 50px;
}
#examplesDiv{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.exampleDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 350px;
  height: 300px;
  /* border-radius: 3px; */
  margin: 5px 5px 50px 5px;
  padding: 10px;
  box-shadow: 0 0 5px var(--clr-dark);
}
.exampleDiv:hover{
  cursor: pointer;
}
.exampleDiv:hover .learnMoreBtn{
  background-color: var(--clr-btnHov);
}
.exampleDiv img{
  width: 180px;
  height: 140px;
  object-fit: cover
}
.exampleDiv h4{
  margin-top: 5px
}
.exampleDiv button{
  margin-bottom: 5px;
}
/* Services Section */
section#services{
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
#services .text{
  text-align: left;
}
#services p{
  text-align: justify;
}
.constrainingContainer{
  display: inline-block;
  overflow: hidden;
  width: 450px;
  height: 300px;
  margin-left: 5%;
}
#services img{
  width: 450px;
  height: 300px;
  object-fit: cover;
}
#services .anchor{
  padding: 0px;
}
#services .buttons{
  height: 50px;
}
.buttons button{
  margin-top: 0;
  max-width: 300px;
}
@media only screen and (max-width:900px){
  #services button{
    width: 250px;
    margin: 10px
  }
  #services .buttons{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #services img{
    max-height: 70%;
  }
}
/* Government Grants Section */
section#gvtGrants {
  text-align: center;
  margin-top: 100px;
}
#gvtGrants img{
  max-height: 100%;
}
@media only screen and (max-width:900px){
  #gvtGrants img{
    max-height: 70%;
  }
}
#gvtGrants .anchor{
  padding: 0;
}

/* Team Section */
section#team{
  margin-top: 78px;
  text-align: center;
}
#team img{
  max-width: 300px;
  height: 330px;
  object-fit: cover;
}
#team .anchor{
  padding: 0;
}
#teamContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.teamCard{
  position: relative;
  margin: 5px;
  padding: 10px;
  max-width: 325px;
  transition: box-shadow 0.3s;
}
.teamCard:hover{
  cursor: pointer;
  box-shadow: 0 0 5px var(--clr-dark);
}
.teamCard p{
  margin-bottom: 30px;
}
.fullBio{
  position: absolute;
  width: 68px;
  left: 50%;
  margin-left: -34px;
  bottom: 2px;
  opacity:0;
  transition: opacity 0.3s;
}
.teamCard:hover .fullBio{
  opacity: 1.0;
}
@media only screen and (max-width:800px){
  .teamCard{
    box-shadow: 0 0 5px var(--clr-dark);
  }
  .fullBio{
    opacity: 1.0;
  }
}
.modal-body{
  text-align: justify;
}

/* Contact us */
#contactUs{
  /* background-color: var(--clr-light); */
  color: var(--clr-dark);
  text-align: center;
  font-size: 1.15em;
  margin-top: 78px;
}
#contactUs form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width:1000px){
  #contactUs form{
    width: 75%
  }
}
@media only screen and (max-width:700px){
  #contactUs form{
    width: 90%
  }
  .formGrp label{
    display: none;
  }
}
#contactUs input,
#contactus textarea{
  margin-bottom: 10px;
  border: none;
  padding: .5em;
  box-shadow: 0 0 5px var(--clr-dark);
}
#contactUs input[type="text"]{
  height: 2em;
}
#contactUs input[type="submit"]{
  border: none;
  border-radius: 30px;
  color: var(--clr-white);
  background-color: var(--clr-dark);
  max-width: 200px;
  min-height: 50px;
  padding: 5px 15px;
  /* font-size: 25px; */
  transition: background-color 0.3s;
}
#contactUs input[type="submit"]:hover{
  background-color: var(--clr-btnHov);
}

.formGrp{
  display: flex;
  justify-content: flex-start;
}
.formGrp label,
.formGrp div{
  flex: 1;
  text-align: right;
  margin-right: 5%;
}
.formGrp input,
.formGrp textarea{
  flex: 3
}
.formGrp input[type=submit]{
  width: 25%
}
#contactUs img{
  width: 25px;
  height: 25px;
  margin-bottom: 0;
}

/* For Google form */
iframe{
  height: 800px;
  margin: 25px;
}

/* Footer */
#pageContainer{
  padding-bottom: 2.5rem;
}

#footer{
  position: absolute;
  height: 2.5rem;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0 20px;
  align-items: flex-end;
  justify-content: space-between;
}
#footer p{
  margin: 0
}

